.dropdown{
position:relative;
}

.dropdown-menu{
display:none;
position:absolute;
top:40px;
left:0;
background:#ffffff;
width:160px;
border-radius:6px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
z-index:999;
}

.dropdown-menu li{
list-style:none;
}

.dropdown-menu li a{
display:block;
padding:10px;
text-decoration:none;
color:black;
}

.dropdown-menu li a:hover{
background:#561d64;
}

.dropdown.active .dropdown-menu{
display:block;
}